<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780898545263-4go5autif6uairljn67q3dfq82of27g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780898545263-4go5autif6uairljn67q3dfq82of27g9</string>
	<key>API_KEY</key>
	<string>AIzaSyBD_lhs3GgP02Sy_Z0O-3XbwebVtpIy_ts</string>
	<key>GCM_SENDER_ID</key>
	<string>780898545263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodluyoruz68</string>
	<key>PROJECT_ID</key>
	<string>kodluyoruz68-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>kodluyoruz68-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780898545263:ios:4338d54bf50c2572b0a79a</string>
</dict>
</plist>